# Folders
.git/

libclogger-*/
libclogger.a.*
libclogger.so.*

# Windows and MSVC
Thumbs.db
ehthumbs.db
Desktop.ini

.vs/
*.VC.db
*.VC.opendb
*.sdf

# Python
*.py[cod]
*.so
*.egg
*.egg-info

# Build intermediate files
*.exe
*.a
*.o
*.log

~*

logs/
temp/

build/
target/
dist/

# doxygen generated
docs/api/

Debug/
Release/
